apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
  namespace: gitops-demo
  labels:
    app: backend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
        - name: backend
          image: ghcr.io/SarraMehrez/gitops-dr-demo-backend:latest
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 5000
          env:
            - name: ENVIRONMENT
              value: "dev"