apiVersion: v1
kind: Service
metadata:
  name: backend
  namespace: gitops-demo
  labels:
    app: backend
spec:
  type: ClusterIP
  selector:
    app: backend
  ports:
    - port: 5000
      targetPort: 5000
      protocol: TCP
      name: http