apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
  namespace: gitops-demo
  labels:
    app: frontend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
        - name: frontend
          image: ghcr.io/SarraMehrez/gitops-dr-demo-frontend:latest
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 80